<div class="centered">
  <h1>Kelp!</h1>

  <h4>Welcome to the random restaurant generator!</h4>
  <form>
    <label
      >Price:
      <select #price placeholder="price">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
    </label>
    <label> City: <input #city placeholder="enter city" /> </label>
    <label> State: <input #state placeholder="enter state" /> </label>
    <button (click)="getFood(price.value, city.value, state.value)">
      Kelp me out here!
    </button>
  </form>
</div>
